.taskContainer
{
    border: 1px solid #000;
    padding: 10px;
    flex: 1;
    min-width: 0;
}

.card
{
    color: #000;
    border: 1px solid #000;
    padding: 5px 5px 15px 5px;
    margin-bottom: 10px;
    overflow-wrap: break-word;  /*文字の折り返し*/
}

.card input
{
    width: 100%;
    box-sizing: border-box;
}

.deleteContainer
{
    text-align: right;
}

.addTaskContainer
{
    display: flex;
    justify-content: center;
}

.black
{
    color: #000;
}

@media (prefers-color-scheme: dark)
{
    .taskContainer
    {
        border: 1px solid #FFF;
        padding: 10px;
    }

    .card
    {
        color: #000;
        border: 1px solid #FFF;
        padding: 5px 5px 15px 5px;
        margin-bottom: 10px;
    }

    .black
    {
        color: #FFF;
    }
}